[Unit]
#install - `sudo ln -s /opt/src/station/systemd/helper-mosquitto.service /etc/systemd/system/helper-mosquitto.service`
Description=mosquitto start helper
After=network.target

[Service]
Type=simple
ExecStartPre=-/bin/mkdir /var/log/mosquitto
ExecStart=/bin/chown mosquitto:mosquitto /var/log/mosquitto
Restart=on-abort


[Install]
WantedBy=multi-user.target