[Unit]
#install - `sudo ln -s /opt/src/station/systemd/helper-lighttpd.service /etc/systemd/system/helper-lighttpd.service`
Description=lighttpd Helper Simple Service
After=network.target

[Service]
Type=simple
ExecStartPre=-/bin/mkdir /var/log/lighttpd
ExecStart=/bin/chown www-data:www-data /var/log/lighttpd
Restart=on-abort


[Install]
WantedBy=multi-user.target