[Unit]
#arduino - historical name
#install - `sudo ln -s /opt/src/station/systemd/sensors-exporter.service /etc/systemd/system/sensors-exporter.service`
Description=Arduino bluetooth exporter
After=network.target
StartLimitInterval=0

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStart=/usr/bin/python3 -B -u /opt/src/station/exporter/exporter.py
WorkingDirectory=/opt/src/station/exporter
StandardOutput=journal

[Install]
WantedBy=multi-user.target
