[Unit]
#install - `sudo ln -s /opt/src/station/systemd/zigbee2mqtt.service /etc/systemd/system/zigbee2mqtt.service`
Description=zigbee to mqtt
After=network.target
StartLimitInterval=0

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStart=/usr/bin/npm start
WorkingDirectory=/opt/zigbee2mqtt
StandardOutput=journal
User=pi

[Install]
WantedBy=multi-user.target
